<div class="" ng-init="init()">




		<nav mfb-menu position="{{pos}}" effect="{{chosenEffect}}" label="hover here" active-icon="fa fa-caret-square-o-up" resting-icon="fa fa-caret-square-o-down"  ng-repeat="pos in positions">
				 <a mfb-button icon="{{button.icon}}" label="{{button.label}}" ng-repeat="button in buttons" ui-sref="{{button.href}}" ></a>	
		</nav>    



	<!-- PAGE NAME -->
	<div class="row">
		<div class="small-12 columns">
				<h1>VISUALIZATIONS</h1>				
				<br>
		</div>	
		<hr>	
	</div>
	
	
	<!-- PAGE NAME -->
	<div class="row">
		<div id='block' class="small-12 columns">
				<br>		
				<centered>
					BACKSTRETCH
				</centered>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
		</div>		
		<hr>
	</div>	
	
		<div class="row">
		<div class="small-12 columns">
				<h3>TOOLTIPS <small>(edit css/hint.css)</small></h1>				
				<br>
				<a class="hint--top has-tip" data-hint="{{'Top'}}">Tooltip Top</a><br>
				<a class="hint--bottom has-tip" data-hint="{{'Bottom'}}">Tooltip Bottom</a><br>
				<a class="hint--left has-tip" data-hint="{{'Left'}}">Tooltip Left</a><br>
				<a class="hint--right has-tip" data-hint="{{'Right'}}">Tooltip Right</a><br>
				<br>
				<a class="hint--top hint--error has-tip" data-hint="{{'Error'}}">Tooltip Error</a><br>
				<a class="hint--bottom hint--warning has-tip" data-hint="{{'Warning'}}">Tooltip Warning</a><br>
				<a class="hint--left hint--success has-tip" data-hint="{{'Success'}}">Tooltip Success</a><br>
				<a class="hint--right hint--info has-tip" data-hint="{{'Info'}}">Tooltip Info</a><br>
				<br>
				<a class="hint--right hint--always has-tip" data-hint="{{'Always visiable'}}">Always visiable</a><br>
				<a class="hint--left hint--rounded has-tip" data-hint="{{'Rounded'}}">Rounded tooltip</a><br>
				<br>
				<a class="hint--right hint--no-animate has-tip" data-hint="{{'No Animation'}}">No Animation</a><br>
				<a class="hint--left hint--bounce has-tip" data-hint="{{'Rounded'}}">Bounce Animation</a><br>
					
				<br><br>
				<br><br>
		</div>	
		<hr>	
	</div>
   
				
	
	
	<div class="row">
				<div class="small-12 columns">
				<h1>DONUT CHARTS</h1>				
				<br>
				<centered>
					<donut mousemove="openTooltip(model)" mouseleave="closeTooltip()" stroke="'black'"  width='' height='' radius="100" ng-model="donutData" property="'age'"></donut>
				</centered>
				</div>
				
				{{selectedModel}}
				<br><br>
				<hr>
	</div>		
	
	<div class="row">
				<div class="small-12 columns">
				<h1>LINE CHARTS</h1>				
				<br>
				<centered>
					<linechart data="lineData" options="lineOptions" mode="" width="" height=""></linechart>
				</centered>
				</div>
				<br><br>
				<hr>
	</div>		
	
	
	<div class="row">
				<div class="small-12 columns">
				<h1>ANGULAR CHARTS</h1>				
				<br>
		</div>	
		
		
		<div class="small-12 columns">
		
			
		  <h5>Chart Type: &nbsp;&nbsp; 
		  <select style='width: 200px; margin-top: 10px' ng-model='chartSelect' ng-options="option.name for option in chartTypes"> 	
		  </select>
		  </h5>	

		  <br><br>
		
			
		  <div data-ac-chart="chartSelect.name" data-ac-data="data"  data-ac-config="config" style='width: 100%; height: 500px; padding: 15px; overflow: visible'>
		  </div>
			
		  <br><br>
    
    	</div>
   </div>
		
</div>	

