<div ng-init="init()">
	
	<div ng-class="{false: 'hidden', true: 'visable'}[pageStatus.isLoading]">
		<div ng-include src="'fragments/waiting/waveSpinner.html'"></div>
	</div>
	
	<!-- PAGE LOADING -->
	<div ng-class="{true: 'hidden', false: 'visable'}[pageStatus.isLoading]">

		<!-- LOADED WITH ERRORS -->
		<div ng-class="{true: 'visable', false: 'hidden'}[pageStatus.hasErrors]">
			<div ng-include src="'fragments/error/hasErrors.html'"></div>			
		</div>
		
		<!-- LOADED WITH NO ERRORS -->
		<div ng-class="{false: 'visable', true: 'hidden'}[pageStatus.hasErrors]">
			
			
			<div class="row">
				<div class="small-12 columns">
						<h1> {{greeting}}</h1>				
						<br>
				</div>		
			</div>
			<hr>	
			
	
			<!-- REGISTER -->
			<div class="row" ng-class="{false: 'visable', true: 'hidden'}[pageStatus.hasData]">		
				<div class="small-12 columns">
						
				    	<h3>Registration</h3>
				    	
				    	
				    		<centered>	    
								<button ng-click="createNewAccount()" class="button"><small>Create New Account</small></button>
								
								<button ng-click="login()" class="button"><small>Login</small></button>
							</centered>
						    
				</div>			
			
			</div>
			
		
	
			
			<div ng-if="accessLevel.value > 0" ng-class="{true: 'visable', false: 'hidden'}[pageStatus.hasData]">	
				<!-- ADMIN -->
				<div class="row"> 
					<div class="small-12 columns">	
						
						
							<div class="small-12 columns">
								<h3>Settings <button ng-click="openDeleteModal()" class="tiny alert pull-right">Delete Account</button></h3>	
								<br><br>
							</div>
							<div class="small-6 columns">
								<centered>
									
									<img ng-src="{{userImage.small}}" />
									<figcaption><small>Profile Picture</small></figcaption><br>
									<button class="button tiny" ng-click="editProfilePic()">Edit</button><br>
									
								</centered>
							</div>
							<div class="small-6 columns">
						    		
									<p>	
										Email: <strong>{{userData.email}}</strong><br>
										Username: <strong>{{userData.userName}}</strong><br>
										Permission: <strong>{{userData.permission}}</strong><br>
										<br>
										First Name: <strong>{{userData.firstName|inflector:'humanize'}}</strong><br>
										Last Name: <strong>{{userData.lastName|inflector:'humanize'}}</strong>
										
										
									</p>
									<br>	
									<button class="button tiny" ng-click="editProfileData()">Edit</button>
									<button class="button tiny" ng-click="changePassword()">Change Password</button>
									<br>
									
							</div>  
							
							<div class="small-12 columns">
									<br><br>
								
							</div>

							    
					</div>			
					
				</div>
				<hr>
					
			
					
					
					
			<!-- POST COMMENT -->
			<div class="row">
				<div class="medium-6 small-12 columns">		
						<br>
				    	<h3>Post Comment</h3>
						<br>
						
					
							<div ng-class="{true: 'hidden', false: 'visable'}[logState]">
								<h6>You must be logged in to post a comment.</h6>
							</div>
							
							<div ng-class="{true: 'visable', false: 'hidden'}[userData.logState]">

						    	<textarea type='text' class="form-control" ng-model="msg" placeholder='Message'></textarea>
						    	<button  ng-click="addToFirebase()" class="pull-right tiny small-12 columns">Submit</button>
						    	
							</div>
						
				</div>
				
				
				
				
				
				
				<div class="medium-6 small-12 columns">	
					
				    <div>
				    	<br>
				    	<h3>Messages:</h3>
				    	<br>
						    <ul ng-repeat="data in allPosts">
						      <a class="white-font" ng-click="deleteItem($index)">{{$index}}: {{data.name}}: {{data.message}} {{data.data}}</a>
						    </ul>	    	
				    </div>
				</div>			
				
			</div>
			<hr>

			<hr>						


			<div class="row">
				<div class="small-12 columns">
				    	<br>
				    	<h3>SAVING TO FIREBASE</h3>
				    	<br>
				    	<button class='small-2' ng-click="manualSaveToFirebase()">Save to Firebase</button>
				    	<button class='small-2' ng-click="manualUpdateFirebase()">Update Firebase</button>
				    	<button class='small-2' ng-click="manualPushToFirebase()">Push to Firebase</button>
				    	<button class='small-3' ng-click="retrieveFromFirebase()">Retrieve from Firebase</button>
				    	<button class='small-3' ng-click="manualDeleteFirebase()">Delete from Firebase</button>
				    					<br><br>
				
				<div style="background-color: white" ng-class="{false: 'visiable', true: 'hidden'}[firebaseLoaded]">
					<json-explorer json-data="{{retrieveData}}"></json-explorer>
				</div>	
				    	
				</div>
				
			</div>
			<hr>					
					
					
			<div class="row">
				<div class="small-12 columns">
						<h3> THREE WAY BINDING</h3>				
						
  						<input type="text" class="ng-click-select" ng-model="threewaybind.text"/>
   						<!-- all changes from Firebase magically appear here! -->
   						<p>You said: {{ threewaybind.text }}</p>
				</div>		
			</div>
			<hr>						


			<div class="row">
				<div class="small-12 columns">
						<h3> FIREBASE ARRAY STORAGE </h3>				
						
					    <ul ng-repeat="message in messages">
					        <textarea ng-model="message.text" class='ng-click-select small-8 pull-left textarea-fit'  g-trim="0" textarea-fit  ng-change="messages.$save(message)"></textarea>
					        <button class='small-1 tiny button pull-right' ng-click="messages.$remove(message)">X</button>
					    </ul>
					   
					    
					    	<centered>
					    		<hr>
					    	
					    		<h4>Add to Array</h4>
					    	
					    		<hr>
					    	</centered>					    
					    
					    					    
					 	<ul>					 
					      	<textarea class='ng-click-select textarea-fit small-8 pull-left' ng-model="newMessageText" g-trim="0" textarea-fit></textarea>
  					      	<button class='small-1 tiny button pull-right' ng-click='addMessage(newMessageText)'>Add Message</button>
					   </ul>
      
				</div>		
				
			</div>
			<hr>
								
					

							
									  
   										
			
			</div>
		
		</div>
		<!-- NO ERRORS LOADING -->
		
	</div>
	<!-- END PAGE LOADING -->

</div>



