<div class="" ng-init="init()">

	<!-- PAGE NAME -->
	<div class="row">
		<div class="small-12 columns">
				<h1>FEATURES</h1>				
				<br>
		</div>		
	</div>
	

		


	<!-- FORMLY -->
	<div ng-if="accessLevel.value > 0" class="row">
	
			<div class="small-12 columns">		
					
			    	<h3>FORMLY (Wired into Firebase)</h3>

							<div class="small-6 columns white-font">
					
								<h3>Form</h3> <!-- TO EDIT FORM STYLE, GO INTO FORMLY.JS -->
								<formly-form result="formData"
											 fields="formFields"
											 options="formOptions"
											 ng-submit="onSubmit()">
								</formly-form>
							</div>
							<br><br>
							<div class="small-6 columns" ng-class="{true: 'visable', false: 'hidden'}[isReady]">
								
								<div style="background-color: white" ng-class="{false: 'visiable', true: 'hidden'}[firebaseLoaded]">
									<json-explorer json-data="{{formData}}"></json-explorer>
								</div>								
								<hr>
								<h5>Email: {{formData.email}}</h5>
								<h5>First Name: {{formData.fName}}</h5>
								<h5>Last Name: {{formData.lName}}</h5>
								<h5>Textarea: {{formData.textarea}}</h5>
								<h5>Radio: {{formData.radio}}</h5>	
								<h5>Disabled: {{formData.disabled}}</h5>
								<h5>Numbered: {{formData.numbered}}</h5>	
								<h5>Select: {{formData.select.name}}, {{formData.select.group}}</h5>
								<h5>Password: {{formData.password}}</h5>
								<h5>Checkbox: {{formData.checkbox}}</h5>																									

							</div>	   
					    
			</div>			
			
	</div>
	
		
	<div ng-if="accessLevel.value > 0" class="row">
	
		<div class="small-12 columns">	
			<hr>			
		<h3>TABLE/CONTENT EDITABLE/FIREBASE HOOKUP</h3>
		
		<br><br>
		<p>Search: &nbsp;<input ng-model="searchTable"><button class='btn pull-right' ng-class="{true: 'info-color'}[makeEditable]" ng-click="checkEditable()">Edit: <i class="fa" ng-class="{true: 'fa-check-square', false: 'fa-square'}[makeEditable]"></i></button></p>
		
		<style>
			.tdHover:hover{
				background-color: orange; 
			}	
			.activeEdit{
				background-color: darkgray;
				color: white;
			}
		</style>
		
        <table class='small-12 responsive' ng-class="{true: 'activeEdit'}[makeEditable]">
          <tr>
        	 <td><strong>{{ 'First Name' | uppercase }}</strong></td>
        	 <td><strong>{{ 'Last Name' | uppercase }}</strong></td>
        	 <td><strong>{{ 'Email' | uppercase }}</strong></td> 	 
        	 <td><strong>{{ 'Textarea' | uppercase }}</strong></td> 	 
        	 <td><strong>{{ 'Group' | uppercase }}</strong></td> 	 
        	 <td><strong>{{ 'Name' | uppercase }}</strong></td> 
        	 <td>
        	 	<center>
        	 		<strong>
        	 			<span ng-class="{false: 'hidden'}[makeEditable]" >{{ 'remove' | uppercase }}</span>
        	 			<span ng-class="{true: 'hidden'}[makeEditable]" >{{ 'locked' | uppercase }}</span>
        	 		</strong>
        	 	</center>
        	 </td>        
       	  </tr>
		  <tr ng-repeat="entry in allFormEntries | filter:searchTable" ng-click='checkTable(entry)'> 
		    <td class='tdHover'><span contenteditable="{{makeEditable}}"  ng-model="entry.fName" strip-br="true" select-non-editable="true" ng-change="allFormEntries.$save(entry)">{{entry.fName}}</span></td>
		    <td class='tdHover'><span contenteditable="{{makeEditable}}"  ng-model="entry.lName" strip-br="true" select-non-editable="true" ng-change="allFormEntries.$save(entry)">{{entry.lName}}</span></td>
		    <td class='tdHover'><span contenteditable="{{makeEditable}}"  ng-model="entry.email" strip-br="true" select-non-editable="true" ng-change="allFormEntries.$save(entry)">{{entry.email}}</span></td>
		    <td class='tdHover'><span contenteditable="{{makeEditable}}"  ng-model="entry.textarea" strip-br="true" select-non-editable="true" ng-change="allFormEntries.$save(entry)">{{entry.textarea}}</span></td>
		    <td class='tdHover'><span contenteditable="{{makeEditable}}"  ng-model="entry.select.group" strip-br="true" select-non-editable="true" ng-change="allFormEntries.$save(entry)">{{entry.select.group}}</span></td>		    		     
		    <td class='tdHover'><span contenteditable="{{makeEditable}}"  ng-model="entry.select.name" strip-br="true" select-non-editable="true" ng-change="allFormEntries.$save(entry)">{{entry.select.name}}</span></td>
		    <td class='tdHover'><center><span ng-class="{false: 'hidden'}[makeEditable]" class='isPointer' ng-click="allFormEntries.$remove(entry)"><i class="fa fa-times"></i></span></center></td>
		  </tr>
		</table>
		<br>
		<div class='small-12' style='background-color: white'>
			<json-explorer json-data="{{currentSelection}}"></json-explorer>
		</div>
	
		
 		</div>
 	</div>
 	
	

	
	<!-- JSON CHECKBOX -->
	<div class="row">
			<div class="small-12 columns">		
					<hr>
			    	<h3>CHECKBOX</h3>
			    	
			    	<div class="small-8 small-offset-4 columns">
			    		<label>Multi</label>
						<div multi-select input-model="multiWebBrowsers" button-label="icon name" item-label="icon name maker" 
						    tick-property="ticked"  output-model="multiResultData" selection-mode="multi">
						</div>
						<br><br>
						<json-explorer json-data="{{multiResultData}}"></json-explorer>
						
						<br><br>
					</div>
					
			    	
			    	<div class="small-8 small-offset-4 columns">
			    		<label>Single</label>
						<div multi-select input-model="singleWebBrowsers" button-label="icon name" item-label="icon name maker" 
						    tick-property="ticked" output-model="singleResultData" selection-mode="single">
						</div>
						<br><br>
						<json-explorer json-data="{{singleResultData}}"></json-explorer>
					</div>					
			</div>			
			<hr>	
		</div>
	


	<!-- LINQ QUERY -->
	<div class="row">
	<div class="small-12 columns base-color" >		
				
			    <h3>LINQ QUERY</h3>
			    <div class="small-6 pull-left">	
			    	<h4>DATA 1</h4>	
					<json-explorer json-data="{{linqData}}"></json-explorer>
					<br>
				</div>
				<div class="small-6 pull-right">		
					<h4>DATA 2</h4>	
					<json-explorer json-data="{{linqData2}}"></json-explorer>
					<br>
				</div>	
				<br><br>
				
				<h3>QUERY RESULTS</h3>
				<hr>
				<h5>Where Statement: <strong>Linq.Where("(Name != Chris) && (Email != egon@gmail.com) && (Age | 100)")</strong></h5>
				<h4>Results: {{queryResults.where.length}}</h4
				<br>
				<br>
				<div class='small-4 small-offset-4'>
				<div ng-repeat="entry in queryResults.where">
					    <div ng-repeat="(key, value) in entry">
					        {{key}} : {{value}}
					    </div>
					    <hr>
				</div>
				</div>
				
				
				<hr>
				<h5>First Statement</strong></h5>
				<h4>Results: {{queryResults.first}}</h4>
				<br>
				<br>
				<div class='small-4 small-offset-4'>
						 Age: {{queryResults.first.Age}}<br>						 
						 Email: {{queryResults.first.Email}}<br>
						 Name: {{queryResults.first.Name}}<br>
						 <hr>					  	    
				</div>			
			
	</div>
	<hr>	
	

	<!-- CHECKBOX -->
	<div class="row">
	<div class="small-12 columns">		
					
			    	<h3>CHECKBOX</h3>
			    
					<label ng-repeat="role in roles">
					  <input type="checkbox" checklist-model="user.roles" checklist-value="role"> {{role.text}}
					</label>
					  <br>
					  <button ng-click="checkAll()">check all</button>
					  <button ng-click="uncheckAll()">uncheck all</button>
					  <button ng-click="checkFirst()">check first</button>
					  <br><br>
					  <pre>user.roles {{ user.roles | json }}</pre>
					  	    
			</div>			
			
	</div>
	<hr>	
	
	
	
	<!-- PAGE NAME -->
	<div class="row">
		<div class="small-12 columns">
				<h3>Froala Text Editor</h3>				
				<br>
				<div class="small-12" style='background-color: white'>
					<textarea froala="options" ng-model="myHtml" froala-event-on-paste="onPaste" froala-event-focus="onEvent" froala-event-indent="onEvent"></textarea>
				</div>
				<br>
				<hr>
				<h3>Code...</h3>						
				{{myHtml}}
				<hr>
				<h3>Binded...</h3>			
				<div ng-bind-html="myHtml"></div>
		</div>		
	</div>
	<hr>	
	
	
	
	
	<!-- RESTRICT --> 
	<div class="row">
		<div class="small-12 columns">
				<h3>RESTRICT INPUT</h3>				
				<br>
				<div class="small-6 columns">
					<label for="twoDecimals">Two decimals:</label>
					<input name="twoDecimals" type="text" ng-pattern-restrict="^\d+(\.\d{0,2})?$" />
					<pre>^\d+(\.\d{0,2})?$</pre>
				</div>
				
				<div class="small-6 columns">
					<label for="dates">Dates, 99/99/9999, and partial entries:</label>
					<input name="dates" type="text" ng-pattern-restrict="^\d\d?(\/(\d{1,2}(\/(\d{1,4})?)?)?)?$" />
					<pre>^\d\d?(\/(\d{1,2}(\/(\d{1,4})?)?)?)?$</pre>
				</div>
		
		
				<div class="small-6 columns">
					<label for="alphanum">Alphanumeric, including empty:</label>
					<input name="alphanum" type="text" ng-pattern-restrict="^[A-Za-z0-9]*$" />
					<pre>^[A-Za-z0-9]*$</pre>
				</div>
				
					
				<div class="small-6 columns">
			    	<label for="numeric">Numeric, optional:</label>
			    	<input name="numeric" type="text" ng-pattern-restrict="^\d*$" ng-model="value" />
			    	<pre>^\d*$</pre>
			    	<p>Value bound: {{value}}</p>
			    </div>				
								
				
		</div>		
	</div>
	<hr>		
	
	<!-- IDLE STATE -->
	<div class="row">
		<div class="small-12 columns">
			<h3>IDLE</h3>				
			<br>
			<h5>Idle State: <strong>{{idleState}}</strong></h5>
			<hr>
			 
				<h5>{{idleEvents}}</h5>
			 
		</div>	
		
	</div>
	<hr>
		
		
	<!-- AUTOSELECT -->
	<div class="row">
		<div class="small-12 columns">		
					
			    	<h3>AUTOSELECT ALL</h3>
			    
					<input type="text" ng-click-select value="Select everything!"/>
					<br>
					<textarea g-trim="0" textarea-fit class="ng-click-select">I am the textarea click on me to select everything!</textarea>
					  	    
			</div>			
			
	</div>
	<hr>			
			
</div>	

